//=======ПЕРВОЕ ОБСЛЕДОВАНИЕ ======
article.first-stage
	.border-title
		.h2 Первое обследование
	.first-stage-list
		+card-icon('hands', '1. Постановка и обсуждение задачи')
			p Вы нам звоните +7 (812) 602-77-70 или заполняете небольшой опросный лист (занимает 3-5 минут).  В течение 1 часа наш специалист с вами связывается,чтобы ответить на вопросы, обсудить условия и договориться о встрече на вашем объекте
			+btn('Заполнить опросный лист')
		
		+card-icon('doc', '2. Пре-аудит')
			ul
				li Осмотр площадки совместно с вашими специалистами 
				li Анализ объёма работ
				li Оценка доступности конденсатоотводчиков
				li Решение о необходимости маркировки
				li Расчёт стоимости обследования
		
		+card-icon('tools', '3. Подготовительные работы')
			p Подготовка карты объекта с разбивкой на области. Присвоение кода каждой области.
			.title Вы точно знаете:
			ul
				li Сколько у вас конденсатоотводчиков
				li Где какой конденсатоотводчик стоит
				li В каком он состоянии
			p В будущем сможете безошибочно определить местонахождение каждого конденсатоотводчика, и вам не придётся тратить время на его поиски

		+card-icon('cubs', '4. Двойная маркировка конденсатоотводчиков ')
			
			.title Наши инженеры
			ul.special-list
				li определяют расположение всех конденсатоотводчиков в заданной области
				li маркируют их индивидуальным номером с кодом области
				li наносят на корпус конденсатоотводчика и в лист учёта маркировку, которая содержит:
					ul
						li Индивидуальный номер
						li Номер модели
						li Тип конденсатоотводчика
						li Область применения
						li Параметры пара
						li Расчётную конденсатную нагрузку
						li Противодавление
						li Другие данные
		
		+card-icon('shield', '5. Обследование конденсатоотводчиков')
			p Замеры шумовых и температурных характеристик с помощью TRAPMAN® TM5. Определение
			
			ul
				li Причины неисправности
				li Величины протечек
				li Рабочего ресурса

		+card-icon('filters', '6. Подготовка отчёта по итогам обследования')
			p Наш специалист
			
			ul
				li Вносит в отчёт данные замеров по каждому конденсатоотводчику
				li Описывает ошибки в построении пароконденсатной системы
				li Предлагает план действий по их устранению