//=======Второе и последующие обследования ======
article.second-stage
	.border-title
		.h2 Второе и последующие обследования
	.three-columns.border-cards.h-auto
		.border-card
			.h3.d-flex
				span 1.
				span Постановка и обсуждение задачи
			p Вы нам звоните +7 (812) 602-77-70 или заполняете опросный лист. Наш инженер связывается с вами, чтобы обсудить детали диагностики.
			+btn('заполнить опросный лист')

		.border-card
			.h3.d-flex
				span 2.
				span Обследование конденсатоотводчиков
			p с помощью TRAPMAN® TM5. Определение
			ul
				li Исправности
				li Причины поломок
				li Величины протечек
				li Рабочего ресурса

		.border-card
			.h3.d-flex
				span 3.
				span Подготовка отчёта по итогам диагностики 
			ul
				li Данные обследования каждого конденсатоотводчика
				li Величина потерь в количественном и денежном выражении
				li Рекомендации по устранению неполадок с оценкой экономического эффекта