//========== RESULT =====
article.result
	.border-title
		.h1 Что в итоге
	.picture-cards
		//=======single card ====
		.picture-card
			.picture-card__img
				+pic-sm('img4', 340, 530, 737, 530, 'img-cover')
			.picture-card__info
				.h3 Точная информация о состоянии парка конденсатоотводчиков
				
				.title Карта конденсатоотводчиков с двойной маркировкой — 
				p На корпусе и в таблице с указанием производителя, типа, диаметра, присоединения, места установки, рабочих параметров, даты замены КО, даты последнего тестирования, результата тестирования.
				
				.title Полная картина слабых мест:
				ul
					li Потери в количественном и денежном выражении
					li Периодичность выхода конденсатоотводчиков из строя
					li Правильность выбора типа, модели каждого КО и места его установки
					li Состояние и ресурс каждого конденсатоотводчика
					li Срок службы всех КО до ближайшего ремонта или замены

		//=======single card ====
		.picture-card
			.picture-card__img
				+pic-sm('img5', 340, 530, 737, 530, 'img-cover')
			
			.picture-card__info
				.h3 План ремонтов и замены оборудования
				p На основе данных нашего отчёта вы легко составляете график ремонта и замены конденсатоотводчиков и выполняете работы в плановом порядке, а не в авральном режиме.
		//=======single card ====
		.picture-card
			.picture-card__img
				+pic-sm('img6', 340, 530, 737, 530, 'img-cover')
			
			.picture-card__info
				.h3 Экономия 60% времени главного специалиста
				p Вы больше не тратите время и силы на поиск неисправностей. Вы занимаетесь только их устранением — без долгих объяснений персоналу, какие конденсатоотводчики необходимо приобрести и где они расположены.
		
		//=======single card ====
		.picture-card
			.picture-card__img
				+pic-sm('img7', 340, 530, 737, 530, 'img-cover')
			
			.picture-card__info
				.h3 Повышение безопасности производства и рост прибыли предприятия
				p Каждый рубль, вложенный в диагностику и замену конденсатоотводчиков, даёт 3 – 10 рублей экономии на производстве пара. Срок окупаемости составляет 4 – 12 месяцев.
				
				.title Наши рекомендации помогают вам
				ul
					li Ликвидировать пролётный пар и решить вопрос тепловых и финансовых потерь
					li Предотвратить гидроудары, увеличить срок службы ПКС и повысить безопасность производства
					li Улучшить качество теплопередачи и снизить процент производственного брака.