//===== benefits ====
section.benefits
	.container
		h2.h1 В услугу входит
		+benefits-block([
			{svg: 'cubs', title: ' Маркировка<br>конденсатоотводчиков', txt: 'на технологической схеме<br>и по месту'},
			{svg: 'people', title: 'Запись профилей', txt: 'ультразвуковых сигналов<br>и температуры тестером TM5'},
			{svg: 'chart', title: 'Определение размера<br>утечки', txt: 'и состояния каждого<br>конденсатоотводчика'},
			{svg: 'doc', title: 'Составление отчёта', txt: 'с анализом результатов<br>и рекомендациями'}
		])