//======calculation====
section.calculation
	.grey-bg
		.container
			.calculation-content
				.calculation-img
					+pic-sm('calc', 275, 248, 400, 370, 'img-cover')
				.calculation-text
					h2.h2 Калькулятор потерь
					p.title Узнайте, сколько денег теряете<br>вы прямо в эту минуту
					button.btn(type="button" data-target="modal-calculation") Подсчитать потери