//===== clients-experience ====
section.clients-experience
	.container
		h2.h1 Опыт наших клиентов — лучшее тому подтверждение
		
		p.h2.txt-prime Один котёл вместо трёх: экономия 71 000 000 руб/год при разовом вложении 5,8 млн руб.

		+benefits-block([
			{svg: '', title: 'Заказчик', txt: 'Крупное предприятие в Санкт-Петербурге', cl:'h3'},
			{svg: '', title: 'Проблема:', txt: 'Замерзание паропроводов в зимний период из-за нехватки пара при двух паровых котлах по 20 т/час, работающих на полную мощность.', cl:'h3'},
			{svg: '', title: 'Намерение заказчика:', txt: 'Приобрести третий котёл.', cl:'h3'},
			{svg: '', title: 'Наше решение:', txt: 'Вместо приобретения третьего котла установить конденсатоотводчики на подводящих трубопроводах и потребителях.', cl:'h3'}
		])(class="h-auto")
		
		//======= blue cards =====
		.accent-cards.d-grid
			.accent-card
				.h3 Результат:
				p Отказ от покупки дополнительного котла. Останов одного из двух имеющихся котлов за ненадобностью ввиду достаточного количества пара при одном работающем котле даже в сильные морозы.

			.accent-card
				.h3 Экономическая эффективность решения
				p Разовые инвестиции в проект со стороны заказчика: #[span.no-wrap 5,8 млн руб.] Годовая экономия на производстве пара: #[span.no-wrap 71 000 000 руб]
		
		.btn-center.mt-80
			+btn('Получить расчет стоимости')
