//========= COMPARISON ======-
section.comparison#comparison
	.container
		h2.h1.title-center Чем отличается наша диагностика<br>от обычного обследования конденсатоотводчиков
		
		//=====table====
		.comparison-table
			//=====header-row=====
			.table-row.table-row__header
				.cell-name Наименование
				.cell-our
					p Диагностика<br>от “Паровых систем”
				.cell-other
					p Обычное обследование
			//===table body row=====
			+comparise-row('Оборудование', 'TRAPMAN® TM5', 'Тестеры конденсатоотводчиков других производителей')
			//===table body row=====
			.table-row
				.cell-name
					p База данных
				.cell-our
					p 3000 конденсатоотводчиков
				.cell-other
					span
						+svg-icon('minus')
			//===table body row=====
			+comparise-row('Основание для выводов о&nbsp;работоспособности', 'Индивидуальные заводские характеристики<br>конкретного конденсатоотводчика', 'Тип конденсатоотводчика<br>без учёта индивидуальных характеристик')
			//===table body row=====
			+comparise-row2('Определение<br>величины утечки', 'plus', 'minus')
			//===table body row=====
			+comparise-row2('Двойная маркировка конденсатоотводчиков', 'plus', 'minus')
			//===table body row=====
			+comparise-row2('Технический прогноз', 'plus', 'minus')
			+comparise-row2('Определение<br>исправности КО', 'plus', 'plus')
			+comparise-row2('Рекомендациина', 'plus', 'plus')
			//===table body row=====
			.table-row
				.cell-name
					p Влияние человеческого фактора на результаты измерений
				.cell-our
					p
						strong Стремится к нулю
					p Автоматизация на всех этапах:<br>от ввода данных до их анализа и<br>определения причины неисправности
				.cell-other
					p
						strong Значительное
					p Ручной ввод данных. Высокая вероятность ошибки при&nbsp;большом количестве конденсатоотводчиков
			+comparise-row2('Бесплатно', 'minus', 'plus')
			//===table body row=====
			.table-row
				.cell-name
					p Глубина диагностики
				.cell-our
					p
						strong Полноценное обследование:
					p не просто проверка конденсатоотводчиков, а&nbsp;контроль правильности их подбора,<br> установки, монтажа и обвязки
				.cell-other
					p
						strong Экспресс-тестирование
					p только оценка работоспособности конденсатоотводчиков

			//===table body row=====
			.table-row
				.cell-name
					p Мгновенный эффект
				.cell-our
					p
						strong Точные знания
					ul
						li о состоянии ПКС
						li расположении каждого конденсатоотводчика,
						li его исправности и ресурсе,
						li соответствии типа и размера,
						li величине потерь
					p 
						strong РЕЗУЛЬТАТ:
					p Вы легко составляете график ремонтов и замен конденсатоотводчиков. Поставляете оборудования по плану;избавляетесь от авралов. Экономите до 60% времени на обслуживание системы
				
				.cell-other
					p
						strong Представление
					p о состоянии конденсатоотводчиков на уровне “исправен/неисправен”<br> без маркировки, оценки ресурса,<br>определения величины потерь
					p 
						strong РЕЗУЛЬТАТ:
					p Невозможность составить график ремонтов и замен. Поставки по факту выхода оборудования из строя с задержкой до 6 мес.
			//===table body row=====
			.table-row
				.cell-name
					p Отложенный эффект
					p.txt после выполнения рекомендаций по итогам диагностики

				.cell-our
					p
						strong Точные знания


					ul
						li Сокращение стоимости 
						li парогенерации на 15 – 40 %.
						li Повышение параметров пара без дополнительных затрат на топливо.
						li Улучшение техпроцессов и качества продукции.
						li Снижение её себестоимости
					
				.cell-other
					p
						strong Отсутствует
		//======BUTTON========
		.btn-center.mt-80
			+btn('Заполнить опросный лист')