//===== benefits ====
section.comparison-systems
	.container
		h2.h1 Одна и та же пароконденсатная система
		article.comparison-systems-content
			//====card=====
			.system-card.system-card--minus
				.system-card__img
					+pic-sm('photo1', 300, 320, 610, 320, 'img-cover')
				.system-card__text
					.title Без обследования конденсатоотводчиков
					ul
						li Неконтролируемые потери пара, тепла, денег, израсходованных на парогенерацию
			//====card=====
			.system-card.system-card--plus
				.system-card__img
					+pic-sm('photo2', 300, 320, 610, 320, 'img-cover')
				.system-card__text
					.title После диагностики от “Паровых систем” и внедрения всех рекомендаций
					ul
						li Отсутствие потерь тепла и пара. Каждый рубль,вложенный в топливо, приносит максимум прибыли
		
		article.diagnostic-benefits
			h2.h1 #[span.txt-prime Без диагностики конденсатоотводчиков]<br>вы теряете безвозвратно #[span.txt-prime 15 – 40%]  пара и денег на его производство
		
			p.txt-prime Статистика компании TLV по результатам обследования 350 000 конденсатоотводчиков

			+benefits-block([
				{svg: '', title: '23,8%', txt: 'конденсатоотводчиков среднестатистической ПКС имеют неисправности*', cl:'h2'},
				{svg: '', title: 'От 20 кг/час', txt: 'пролётного пара пропускает самый маленький конденсатоотводчик (КО)', cl:'h2'},
				{svg: '', title: 'От 0,01 Гкал/час ', txt: 'непроизводственные потери тепла при давлении пара 6 бар', cl:'h2'},
				{svg: '', title: 'От 17 руб/час', txt: 'ваши потери через 1 неисправный КО при стоимости тепловой энергии 1700 руб/Гкал', cl:'h2'}
			])(class="h-auto")
			
			//======= blue cards =====
			.accent-cards.d-grid
				.white-card
					p.h2 От 146 900 руб/год
					p улетает на ветер вместе с пролётным паром через 1 неисправный КО

				.accent-card
					.h2 17 481 100 руб/год
					p теряет предприятие, использующее 500 конденсатоотводчиков (500 * 23,8% * 146 900)