section.cta
	.grey-bg
		.container
			.card-icon.card-icon--special
				.card-icon__img
					+svg-icon('support')
				.card-icon__text
					.h2.txt-prime Как покончить с потерями<br>из-за пролётного пара? 
					p
						strong Позвоните: +7 (812) 602-77-70 или заполните опросный лист<br>
						| Мы свяжемся с вами в течение 1 часа, чтобы обсудить детали сотрудничества и договориться о встрече на вашем объект
					+btn('Заполнить опросный лист')