//==========diagnostic-benefits================
section.diagnostic-benefits
	.container
		h2.h1 #[spam.txt-prime При регулярных обследованиях]<br>с помощью системы TRAP MANAGER TM5 
		//====== ARTICLE ======
		.three-columns.border-cards.h-auto
			.border-card
				.h2 В 2,66 раза
				p снижается число отказов конденсатоотводчиков

			.border-card
				.h2 На 15 – 40%
				p повышается энергоэффективность пароконденсатной системы
				
			.border-card
				.h2 В 3 – 10 раз
				p сокращаются финансовые потери

		article.diagnostic-article
			.diagnostic-card
				.diagnostic-card__text
					.h3 Сопутствующий эффект:
					ul
						li #[strong Увеличение надёжности и эффективности] работы ПКС
						li #[strong Снижение затрат] на ее техническое обслуживание
						li #[strong Сокращение внеплановых ремонтов] и потерь от простоев
						li #[strong Повышение безопасности] вашего производства

					+btn('Заказать звонок')
				.diagnostic-card__img
					+pic-sm('photo3', 340, 336, 688, 336, 'img-cover')

