//========FAQ ACORDION=====
section.faq#faq
	.container
		h2.h1.title-center Нас часто спрашивают
		//=========acordion========
		.accordion-group
			//=======single item =====
			.accordion-header.open.h3 “Зачем мне ваши услуги? Мои специалисты на глаз определяют исправность конденсатоотводчиков” 
			.accordion-body(style="display: block;")
				p При визуальном обследовании невозможно сделать выводы
				ul 
					li о характере и величине утечки пара
					li потерях в денежном выражении
					li ресурсе конденсатоотводчика.

				p У обслуживающего персонала обычно не хватает опыта и знаний, чтобы оценить правильность выбора типа конденсатоотводчика и места его установки. Ваши сотрудники легко могут принять неработающий конденсатоотводчик за исправный.

				p Результат такой “диагностики” — отсутствие системности в обслуживании ПКС, ремонты и замена оборудования в авральном режиме, неконтролируемый рост потерь тепла. Как следствие — увеличение затрат предприятия на парогенерацию, снижение рентабельности производства.

			//=======single item =====
			.accordion-header.h3 “Для чего проводить диагностику каждый год? Разве одного обследования недостаточно?”
			.accordion-body
				p #[strong Ежегодно 10% конденсатоотводчиков выходят из строя] даже на предприятиях с качественной инженерией пароконденсатной системы (мировая статистика за 70 лет наблюдений). Чтобы свести к минимуму потери пара и связанный с ними ущерб, обследование конденсатоотводчиков необходимо проводить 1 раз год.
				p #[strong При этом второе и последующие обследования обходятся вам на 30 – 50% дешевле, чем первое:] парк конденсатоотводчиков уже промаркирован, и нам остаётся только оценить их состояние.
			//=======single item =====
			.accordion-header.h3 “Вы можете сделать небольшой объём работ бесплатно?”
			.accordion-body 
				p Нет. Как показывает опыт, бесплатные рекомендации люди не ценят, а потому не выполняют. Поэтому мы не оказываем услуги бесплатно.
			//=======single item =====
			.accordion-header.h3 “Какое время занимает диагностика конденсатоотводчиков?”
			.accordion-body
				p Это напрямую зависит от объёма работ и доступности конденсатоотводчиков. Обычно мы обследуем до 50 КО  в день, ели они в прямом доступе.
			//=======single item =====
			.accordion-header.h3 “Сколько стоит услуга?”
			.accordion-body
				p Стоимость диагностики напрямую зависит от объёма и сложности работ. Поэтому мы предоставляем расчет цены только после предварительного аудита вашей ПКС. Опишите проблему и ответьте на несколько простых вопросов или просто позвоните