//=======HERO=====
section.hero
	.container
		.hero-title
			h1.h1 Диагностика<br>#[span.txt-red конденсато]#[span.txt-prim отводчиков]
			p.subtitle.txt-prime с помощью системы TRAP MANAGER TM5
		.hero-desck
			ul.icon-list
				li
					span
						+svg-icon('bar-chart')
					| Получите точную картину состояния вашей ПКС
				li
					span
						+svg-icon('sale')
					| Сократите на 15 – 40% расходы<br>на парогенерацию и топливо
				li
					span
						+svg-icon('hour')
					| Сэкономьте до 60% времени на обслуживание системы
		
		button.btn(type="button" data-target="modal-form") Получить консультацию специалиста

