section.periodicity
	.container
		//=======single card ====
		.picture-card
			.picture-card__img
				+pic-sm('img9', 340, 530, 737, 530, 'img-cover')
			.picture-card__info
				.h1 Периодичность обследования
				p По данным мировой статистики за 70 лет наблюдений, каждый год выходит из строя 10% конденсатоотводчиков. Это неизбежно происходит даже на предприятиях с высокой культурой эксплуатации ПКС.
				p Поэтому нельзя ждать, что однократная диагностика даст эффект на 10 лет вперёд. Чтобы надёжно защититься от потерь пара и увеличить ресурс пароконденсатной системы, обследование конденсатоотводчиков важно проводить каждый год.
				p Это как с автомобилем: необходимо регулярно проходить ТО, чтобы продлить срок службы, сохранить характеристики и предотвратить неприятные ситуации на дороге.
	.periodicity-block.grey-bg
		.container
			//=======single card ====
			.picture-card.picture-card--grey
				.picture-card__info
					.h2.txt-prime Стоимость повторных обследований<br>на 30 – 50% ниже,чем первого
			
				.picture-card__img
					+pic-sm('img10', 340, 410, 737,410, 'img-cover')