//===== pros =====
section.pros
	.prime-bg.d-flex
		.pros-icon
			+svg-icon('palm')
		.pros-text
			.h2 Максимально выгодно
			p Предприятиям с парком<br class="visible-mobile"> конденсатоотводчиков 50 – 10 000 штук 
