section.reviews
	.grey-bg.p-80
		.container
			.slider-header-title.d-flex
				.section-title
					h2.h1 “Профессиональный подход<br> и квалифицированная помощь,” 
					.h2.txt-prime Что ещё говорят о нас клиенты?
				//===== slider navigation====
				.custom-slider-nav
					.swiper-button-prev.reviews-prev
					.swiper-button-next.reviews-next
			//====slider=====
			.reviews-swiper.swiper
				.swiper-wrapper
					//==== single slide ====
					.swiper-slide
						.review-card
							.review-card__company ООО «Киришский ДСК»
							.review-card__title #[span СИМОНОВ О.М.], Ведущий инженер-энергетик
							.review-card__text
								.txt-20 Сократилось количество потребляемого пара
								p За время сотрудничества были решены задачи по устранению пролетного пара и отводу конденсата от паровых регистров отопления зданий предприятия. Подобранные и установленные конденсатоотводчики со свободно плавающим поплавком работают надлежащим образом, сократилось количество потребляемого пара, прекратился неконтролируемый выпар в атмосферу.

								p От лица нашей компании готовы рекомендовать ООО «Паровые системы» как надежного и ответственного партнера в вопросах решения задач оптимизации рабо пароконденсатных систем промышленных предприятий.
					//==== single slide ====
					.swiper-slide
						.review-card
							.review-card__company ООО «Киришский ДСК»
							.review-card__title #[span СИМОНОВ О.М.], Ведущий инженер-энергетик
							.review-card__text
								.txt-20 Сократилось количество потребляемого пара
								p За время сотрудничества были решены задачи по устранению пролетного пара и отводу конденсата от паровых регистров отопления зданий предприятия. Подобранные и установленные конденсатоотводчики со свободно плавающим поплавком работают надлежащим образом, сократилось количество потребляемого пара, прекратился неконтролируемый выпар в атмосферу.

								p От лица нашей компании готовы рекомендовать ООО «Паровые системы» как надежного и ответственного партнера в вопросах решения задач оптимизации рабо пароконденсатных систем промышленных предприятий.
					//==== single slide ====
					.swiper-slide
						.review-card
							.review-card__company ООО «Киришский ДСК»
							.review-card__title #[span СИМОНОВ О.М.], Ведущий инженер-энергетик
							.review-card__text
								.txt-20 Сократилось количество потребляемого пара
								p За время сотрудничества были решены задачи по устранению пролетного пара и отводу конденсата от паровых регистров отопления зданий предприятия. Подобранные и установленные конденсатоотводчики со свободно плавающим поплавком работают надлежащим образом, сократилось количество потребляемого пара, прекратился неконтролируемый выпар в атмосферу.

								p От лица нашей компании готовы рекомендовать ООО «Паровые системы» как надежного и ответственного партнера в вопросах решения задач оптимизации рабо пароконденсатных систем промышленных предприятий.