section.service-pros
	.container
		.section-title.section-title--center
			.h3.txt-prime За счет чего достигается этот результат?
			h2.h1  Самая точная система диагностики среди существующих 
		.service-pros__content.d-grid
			.service-pros__img.col-4
				span.service-pros-logo
					+svg-icon('brand')
				+pic('img', 536, 536, 'img-cover')

			.service-pros__text.col-6
				.shadow-card
					.h3 Аппаратно-программный комплекс TRAPMAN® TM5 (производство TLV, Япония):
					ul
						li Оснащён датчиками измерения температуры и ультразвукового прослушивания
						li Имеет базу шумовых характеристик 3000 конденсатоотводчиков, которые производятся&nbsp;в мире
						li Сравнивает результаты замеров с заводскими характеристиками конкретного конденсатоотводчика
						li Выдаёт точное заключение о наличии и величине потерь, причинах неисправности&nbsp;и ресурсе каждого конденсатоотводчика

					+btn('Заказать звонок')
