//===== specialists =====
section.specialists#specialists
	.container
		.section-title
			h2.h1 Инженеры<br class="visible-mobile"> с&nbsp;опытом 7 — 25&nbsp;лет
			.h2.txt-prime Они заметят все ошибки<br class="visible-mobile"> построения пароконденсатной системы и предложат меры<br class="visible-mobile">  по их устранению

		.picture-cards
			//=======single card ====
			.picture-card
				.picture-card__img
					+pic-sm('img2', 340, 530, 737, 530, 'img-cover')
				.picture-card__info
					.h3 Специалисты, которые проводят обследование ваших конденсатоотводчиков
					ul
						li Обладают глубокими знаниями об арматуре пароконденсатных систем
						li Точно знают варианты применения всех типов конденсатоотводчиков
						li Прошли обучение по использованию системы TRAPMAN® TM5 на заводе TLV.

			//=======single card ====
			.picture-card
				.picture-card__img
					+pic-sm('img3', 340, 530, 737, 530, 'img-cover')
				
				.picture-card__info
					.h3 Вы получите экспертные рекомендации, которые помогут вашему предприятию

					ul
						li Улучшить технологические процессы
						li Исключить производственный брак
						li Повысить качество продукции.