//====== WHY US ======
section.why-us
	.container
		h2.h1 Почему нашим выводам стоит доверять?
		//====== ARTICLE ======
		article.why-us-block
			.border-title
				.h2 #[span.txt-prime Более 16 лет] специализируемся только на создании и оптимизации ПКС
			.three-columns.border-cards.h-auto
				.border-card
					.h3 С 2008 года
					p помогаем предприятиям сокращать затраты на парогенерацию

				.border-card
					.h3 Порядка 1&nbsp;000&nbsp;000&nbsp;000&nbsp;руб.
					p сэкономили клиентам за счёт оптимизации паровых систем
					
				.border-card
					.h3 География рынка
					p все регионы РФ. Представительства в Москве и Екатеринбурге
		//====== ARTICLE ======
		article.why-us-block
			.border-title
				.h2 Диагностику ваших конденсатоотводчиков<br> проводят эксперты
			.three-columns.border-cards.h-auto
				.border-card
					.h3 10-25 лет
					p опыт ключевых сотрудников. От 7 лет опыт рядовых сотрудников

				.border-card
					.h3 Профильное образование
					p имеет весь инженерно-технический персонал.
					
				.border-card
					.h3 Обучение на заводе TLV
					p прошли все наши специалисты нашей компании
