h1, h2, h3, h4, h5, .h1, .h1-bold, .h2, .h2-semi, .h3, .title, .txt{
	font-family: var(--font-family);
	font-weight: 400;
	color: var(--black);
}
.h1, .h1-bold{
	font-size: 40px;
	line-height: 1.15;
	@media (max-width: 1199px) {
	font-size: 25px;
	}
}
.h1-bold{font-weight: 700; line-height: 1.01;}
.h2, .h2-semi{
	font-size: 30px;
	line-height: 1.35;
	@media (max-width: 1023px) {
	font-size: 25px;
	}
}
.h2-semi{
	font-weight: 600;
}
.h3{
	font-size: 25px;
	line-height: 1.28;
	color: var(--grey);
	@media (max-width: 1023px) {
	font-size: 18px;
	line-height: 1.39;
	}
}
.txt-20{
	font-size: 20px;
	line-height: 1.50;
}
.title{
	font-size: 18px;
	line-height: 1.39;
	color: var(--grey);
}
.txt{
	font-size: 15px;
	line-height: 1.40;
}
.txt-12{
	font-size: 12px;
}
.txt-bold{font-weight: 700!important;}
.txt-prime{color: var(--prime)!important;}
.txt-white {
	color: var(--white) !important;
}
.txt-red{color: var(--reed)}