.modal-calculation.modal-wrapper{
	 .modal-body{
		width: min(1200px, 100%);
		@media (max-width: 1199px) {
		align-items: flex-start;
		}
		@media (max-width: 767px) {
		padding-top: 40px;
		}
	}

}
.calculation-form{
	position: relative;
	.modal-form{
		.h2{margin-bottom: 40px;}
		@media (max-width: 767px) {
		.h2 {margin-bottom: 20px;}
				
			
		}
	}
	.tooltip-icon{
		width: 24px;
		height: 24px;
		border-radius: 50%;
		box-shadow: 0 0 8px rgba(0,0,0, .24);
		text-align: center;
		line-height: 22px;
		
	}
	.form-item{
		display: grid;
		grid-template-columns: 8fr 4fr;
		column-gap: 70px;
		input{padding-right: 12px;}
		input::placeholder{
			font-size: 14px;
			letter-spacing: -0.02em;
		}
		&.form-result{margin-top: 40px;}
		@media (max-width: 1199px) {
			grid-template-columns:7fr 5fr;
			column-gap: 30px;
		}
		@media (max-width: 767px) {
			grid-template-columns:1fr;
			margin-top: 16px;
			&.form-result{
				text-align: center;
				margin-top: 24px;
			}
			
			input{height: 48px;}
			
		}
	}
		.label{
			position: relative;
			font-size: 18px;
			display: flex;
			align-items: center;
			column-gap: 16px;
			justify-content: space-between;
			.tooltip{
				position: relative;
				
			}
			.tooltip-box {width: 330px;}
			@media (max-width: 1023px) {
				font-size: 16px;
			}
			@media (max-width: 767px) {
				margin-bottom: 6px;
				font-size: 14px;
				.tooltip-box{width: 300px;}
			}
		}
		.form-btn-calc .btn, .form-btn{
		width: 100%;
		max-width: 428px;
		margin: 0 auto;
	}
		.form-btn{
			margin-top: 40px;
			@media (max-width: 767px) {
				margin-top: 24px;
			}
		}
	.out-result-wrapper{
		position: relative;
		.notify {
			position: absolute;
			top: -24px;
			left: 0;
			font-size: 16px;
			font-weight: 700;
			color: var(--reed);
			display: none;
			&.visible {display: block;}
			@media (max-width: 767px) {
				top: -46px;
				left: 50%;
				font-size: 14px;
				white-space: nowrap;
				transform: translateX(-50%);
			}
		}
	}
}

.custom-select-wrapper {
	position: relative;
	display: inline-block;
	width:100%;
}

.custom-select {
	width: 100%;
	padding: 10px;
	padding-right: 40px;
	/* Отступ для иконки */
	appearance: none;
	background: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	font-family: inherit;
}

.custom-select-wrapper::after {
	content: '';
	/* Юникод символ стрелки вниз */
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	pointer-events: none;
	width: 24px;
	height: 24px;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M18 9L12 15L6 9' stroke='%23222222' stroke-linecap='round' /%3e%3c/svg%3e");
		transition: .3s;
	
}
.custom-select-wrapper.open::after {
	transform: translateY(-50%) rotate(180deg);
}
