.card-icon, .card-icon__img{
	display: flex;
	align-items: center;
}
.card-icon{
	column-gap: 80px;
	background-color: #fff;
	padding-block:60px;
	max-width: 1050px;
	margin-inline:auto;
	border-bottom: 1px solid var(--divider-colr);
	&:last-child{border-bottom: 0;}
	&__img{
		justify-content: center;
		flex-shrink: 0;
		width: 250px;
		height: 250px;
		border-radius: 50%;
		outline-offset: -16px;
		outline: 3px solid var(--prime);
		border:16px solid #F8F9FB;
		@media (max-width: 1199px) {
			width: 150px;
			height: 150px;
			outline-offset: -10px;
			outline: 1.8px solid var(--prime);
			border: 10px solid #F8F9FB;
			svg{
				width: 54px;
				height: 54px;
			}
		}
		@media (max-width: 767px) {
			outline: 1.2px solid var(--prime);
		}
	}
	&__text{
		flex-grow: 1;
		padding-right: 90px;
		&>*+*{margin-top: 20px;}
		.btn{margin-top: 50px;}
				
		@media (max-width: 1023px) {
			padding-right: 0;
		}
	}
	@media (max-width: 1199px) {
		padding-inline:10px;
	}
	@media (max-width: 767px) {
		flex-direction: column;
		align-items: flex-start;
		row-gap:20px;
		padding-block:20px;
		&__img{width: 100px;
			height: 100px;
			svg{
				width: 36px;
				height: 36px;
			}
			
		}
		&__text{width: 100%;}
	}
}