
.picture-card{
	display: flex;
	background-color: #fff;
	align-items: center;
	&__info, &__img{
		flex-shrink: 0;
		width: 50%;height: 530px;
	}
	&__info{
		padding-left: 80px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		&>*+*{margin-top: 20px;}
		&>.btn{ margin-top: 50px;}
	}

	&:nth-child(2n+1){
		flex-direction: row-reverse;
		.picture-card__info {
			padding-left: 0;
			padding-right: 80px;
		}
		@media (max-width: 1023px) {
			flex-direction: column;
			
		}
		@media (max-width: 767px) {
			.picture-card__info {padding-right: 0;}
		}
	}
	@media (max-width: 1023px) {
		flex-direction: column;
		&__info,&__img{width: 100%;}
		&__info{
			padding: 0;
			padding-block: 40px 60px;
			height: auto;
			@media (max-width: 767px) {
				padding-block: 16px 60px;
			}
		}
	}
}

.picture-card__info {.title + *{margin-top: 10px!important;}}
.picture-card.picture-card--grey{
	background-color: var(--bg-collor);
}