extends ../layouts/layout.pug

block content
	.page-wrapper
		
		include ../sections/_header
		main.main
			include ../sections/_hero
			include ../sections/_pros
			include ../sections/_benefits
			include ../sections/_comparison-table.pug
			
			include ../sections/_service-pros
			//===== pros 2 =====
			section.pros.pros--center
				.prime-bg
					.pros-text.h3
						p ТМ5 – единственный в мире прибор, который при анализе результатов измерений учитывает индивидуальный шумовой профиль конкретной модели конденсатоотводчика
			
			include ../sections/_specialists
			//===== pros 3 =====
			section.pros.pros--center
				.prime-bg
					.pros-text.h3
						p “Паровые системы” — единственная компания в России, которая использует для диагностики конденсатоотводчиков аппаратно-программный комплекс TRAP MANAGER TM5
			
			include ../sections/_report-slider
			include ../sections/_periodicity
			include ../sections/_how-work
			include ../sections/_clients-experience
			include ../sections/_why-us
			include ../sections/_reviews
			include ../sections/_faq
			include ../sections/_cta


		include ../sections/_footer
		//=======отложенная загрузка карты===
		script.
			function loadMapScript() {
				const script = document.createElement('script');
				script.src = 'https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A99e469dc18f774ad18b3bab1506d95b1e386c4fd8791fce111cad1c7e6e47bce&amp;width=100%25&amp;height=720&amp;lang=ru_RU&amp;scroll=false';
				script.async = true;
				document.getElementById('map').appendChild(script);
			}
			// Использование Intersection Observer API для отслеживания видимости элемента
			const mapDiv = document.getElementById('map');
			const observer = new IntersectionObserver((entries) => {
				entries.forEach(entry => {
					if (entry.isIntersecting) {
						loadMapScript();
						observer.disconnect(); // Отключить наблюдатель после загрузки карты
					}
				});
			}, {
				rootMargin: '0px',
				threshold: 0.1 // Загружать карту, когда 10% элемента станет видимым
			});

			observer.observe(mapDiv);
			


block variables
	-var title = "Steam System";
