include ../mixins/_svg-icon.pug
include ../mixins/_card-icon.pug
include ../mixins/_buttons.pug
include ../mixins/_benefits.pug
include ../mixins/_comparise-table
include ../mixins/_picture


//- include ../mixins/_prod-card.pug

