include _mixins-links.pug
block variables

doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		//====favicon ======
		link(rel="apple-touch-icon", sizes="180x180", href="./favicon/apple-touch-icon.png")
		link(rel="icon", type="image/png", sizes="32x32", href="./favicon/favicon-32x32.png")
		link(rel="icon", type="image/png", sizes="16x16", href="./favicon/favicon-16x16.png")
		link(rel="manifest", href="./favicon/site.webmanifest")
		link(rel="mask-icon", href="./favicon/safari-pinned-tab.svg", color="#5bbad5")
		link(rel="shortcut icon", href="./favicon/favicon.ico")
		meta(name="msapplication-TileColor", content="#da532c")
		meta(name="msapplication-config", content="./favicon/browserconfig.xml")
		meta(name="theme-color", content="#ffffff")
		//====убрать перевод цифр в номер телефона на ios  ======
		meta(name="format-detection" content="telephone=no")

		title !{title}
		style.
			@font-face {
				font-family: 'Montserrat';
				src: url('./fonts/Montserrat-Regular.woff2') format("woff2");
				font-weight: 400;
				font-style: normal;
				font-display: swap;
			}
			@font-face {
				font-family: 'Montserrat';
				src: url('./fonts/Montserrat-Medium.woff2') format("woff2");
				font-weight: 500;
				font-style: normal;
				font-display: swap;
			}
			@font-face {
				font-family: 'Montserrat';
				src: url('./fonts/Montserrat-SemiBold.woff2') format("woff2");
				font-weight: 600;
				font-style: normal;
				font-display: swap;
			}
			@font-face {
				font-family: 'Montserrat';
				src: url('./fonts/Montserrat-Bold.woff2') format("woff2");
				font-weight: 700;
				font-style: normal;
				font-display: swap;
			}
			/*стили первого экрана, для ускорения загрузки страницы*/
			.header {
				padding-block: 21px 20px;
				width: 100%;
				}

				.header-container {
				height: 100%;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
				-webkit-box-pack: justify;
				-ms-flex-pack: justify;
				justify-content: space-between;
				width: min(1440px, 100%);
				}
				.menu-list {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
				-webkit-column-gap: 44px;
				-moz-column-gap: 44px;
				column-gap: 44px;
				}

				.menu-list li:before {
				display: none;
				}

				.menu-list li + li {
				margin-top: 0;
				}

				.menu-list a {
				font-weight: 700;
				font-size: 13px;
				line-height: 1.38;
				letter-spacing: 0.01em;
				text-transform: uppercase;
				color: var(--black);
				white-space: nowrap;
				}
				.header .contacts-group .btn {
				min-width: unset;
				}

				.logo-wrapper {
				-webkit-box-align: start;
				-ms-flex-align: start;
				align-items: flex-start;
				-webkit-column-gap: 8px;
				-moz-column-gap: 8px;
				column-gap: 8px;
				}

				.logo-block p {
				font-weight: 500;
				font-size: 9px;
				line-height: 1;
				letter-spacing: 0.01em;
				text-transform: uppercase;
				color: var(--black);
				}

				.contact-link {
				white-space: nowrap;
				font-weight: 700;
				line-height: 1;
				color: var(--black);
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
				}

				.contact-link svg {
				-ms-flex-negative: 0;
				flex-shrink: 0;
				}

				.contacts-group {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				-ms-flex-direction: column;
				flex-direction: column;
				row-gap: 10px;
				}

				.hero {
				padding-top: 70px;
				padding-bottom: 56px;
				min-height: 560px;
				background-image: url(./img/header.webp);
				background-repeat: no-repeat;
				background-size: cover;
				background-position: 0 bottom;
				position: relative;
				}

				.hero .container {
				position: relative;
				z-index: 2;
				}

				.hero .h1 {
				margin-bottom: 5px;
				}

				.hero .hero-title,
				.hero .hero-desck {
				max-width: 500px;
				margin-bottom: 40px;
				}

				.hero .hero-desck {
				margin-bottom: 50px;
				font-size: 18px;
				line-height: 1.4;
				color: var(--paragraph-color);
				}

				.hero .btn {
				max-width: 425px;
				}

				.hero:before {
				content: "";
				position: absolute;
				inset: 0;
				bottom: -1px;
				background-image: linear-gradient(92deg, rgba(255, 255, 255, 0.99) 20%, rgba(255, 255, 255, 0.2) 100%), linear-gradient(90deg, rgba(255, 255, 255, 0) 100%, #fff 100%);
				z-index: 1;
				}

				@media (max-width: 1199px) {
				.hero {
					min-height: 717px;
					background-image: url(./img/header-w768.webp);
					background-position: bottom;
				}

				.hero .h1,
				.hero .h1-bold {
					font-size: 40px;
				}
				}

				@media (max-width: 767px) {
				.header .contacts-group {
					display: none;
				}

				.hero {
					min-height: unset;
					
					height: calc(100vh - 150px);
					padding-top: 35px;
					background-image: url(./img/header-w375.webp);
				}

				.hero .hero-desck {
					margin-bottom: 50px;
					font-size: 15px;
				}

				.hero .h1,
				.hero .h1-bold {
					font-size: 25px;
				}
				}
		//======= swiper slider ======
		link(rel="stylesheet", href="./libs/swiper/swiper.min.css")
		//======= main styles ======
		link(rel="stylesheet", href="./css/main.css")
			
	body(class=(bodyCl !=="" ? bodyCl : ''))
		
		block content
		a(href="#top")#backtop
			+svg-icon('chevron-up')
		//=============== jquery ==================
		script(src="./libs/jquery/jquery-3.0.0.min.js")
		script(src="./libs/jquery.lazy.min.js")
		//=============== swiper js ===============
		script(src="./libs/swiper/swiper.js")
		//-============fancybox====================
		//- script(src="./libs/fancybox/fancybox.js")
		//=============== main js ===================
		script(src="./js/main.js")