include _mixins-links.pug
block variables

doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		//====favicon ======
		link(rel="apple-touch-icon", sizes="180x180", href="./favicon/apple-touch-icon.webp")
		link(rel="icon", type="image/webp", sizes="32x32", href="./favicon/favicon-32x32.webp")
		link(rel="icon", type="image/webp", sizes="16x16", href="./favicon/favicon-16x16.webp")
		link(rel="manifest", href="./favicon/site.webmanifest")
		link(rel="mask-icon", href="./favicon/safari-pinned-tab.svg", color="#5bbad5")
		link(rel="shortcut icon", href="./favicon/favicon.ico")
		meta(name="msapplication-TileColor", content="#da532c")
		meta(name="msapplication-config", content="./favicon/browserconfig.xml")
		meta(name="theme-color", content="#ffffff")
		//====убрать перевод цифр в номер телефона на ios  ======
		meta(name="format-detection" content="telephone=no")
		
		//======= swiper slider ======
		link(rel="stylesheet", href="./libs/swiper/swiper.min.css")
		
		//-============ fancybox =============
		//- link(rel="stylesheet", href="./libs/fancybox/fancybox.css")
		
		

		title !{title}
		style.
			@font-face {
				font-family: 'Montserrat';
				src: url('./fonts/Montserrat-Regular.woff2') format("woff2");
				font-weight: 400;
				font-style: normal;
				font-display: swap;
			}
			@font-face {
				font-family: 'Montserrat';
				src: url('./fonts/Montserrat-Medium.woff2') format("woff2");
				font-weight: 500;
				font-style: normal;
				font-display: swap;
			}
			@font-face {
				font-family: 'Montserrat';
				src: url('./fonts/Montserrat-SemiBold.woff2') format("woff2");
				font-weight: 600;
				font-style: normal;
				font-display: swap;
			}
			@font-face {
				font-family: 'Montserrat';
				src: url('./fonts/Montserrat-Bold.woff2') format("woff2");
				font-weight: 700;
				font-style: normal;
				font-display: swap;
			}
			.header{
				padding-block:21px 20px;
				width: 100%;
				
				&-container{
					height: 100%;
					display: flex;
					align-items: center;
					justify-content: space-between;
					width:min(1440px, 100%);
				}
				.contacts-group{
					@media (max-width: 767px) {
					display: none;
					}
				}
			}
			.logo-wrapper{
				align-items: flex-start;
				column-gap:8px;
			}
			.logo-block{
				p{
					font-weight: 500;
					font-size: 9px;
					line-height: 1;
					letter-spacing: 0.01em;
					text-transform: uppercase;
					color: var(--black)
				}
			}
			.contact-link{
				white-space: nowrap;
				font-weight: 700;
				line-height: 1;
				color: var(--black);
				display: flex;
				align-items: center;
				svg{
					flex-shrink: 0;
				}
			}
			.contacts-group{
				display: flex;
				flex-direction: column;
				row-gap:10px;
			}
			.hero{
				padding-top: 70px;
				padding-bottom: 56px;
				min-height: 560px;
				background-color: rgba(49, 128, 221, .5);
				background-image: linear-gradient(92deg, rgba(255, 255, 255, 0.99) 20%, rgba(255, 255, 255, 0.2) 100%), linear-gradient(90deg, rgba(255, 255, 255, 0) 100%, #fff 100%), url(./img/header.webp);
				background-repeat: no-repeat;
				background-size: cover;
				background-position: bottom right;
				.h1{margin-bottom: 5px;}
				.hero-title, .hero-desck {max-width: 500px; margin-bottom: 40px;}
				.hero-desck	{
					margin-bottom: 75px; max-width: 425px;
					font-size: 18px;
					line-height: 1.4;
					color: var(--paragraph-color);
				}
				.btn{max-width: 425px;}

				@media (max-width: 1199px) {
					min-height: 717px;
					background-image: linear-gradient(92deg, rgba(255, 255, 255, 0.99) 20%, rgba(255, 255, 255, 0.2) 100%), linear-gradient(90deg, rgba(255, 255, 255, 0) 100%, #fff 100%), url(./img/header-w768.webp);
					.h1,.h1-bold{font-size: 40px;}
				}
				@media (max-width: 767px) {
					min-height: unset;
					height: calc(100dvh - 100px);
					padding-top: 35px;
					background-image: linear-gradient(92deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.2) 100%), linear-gradient(360deg, rgba(255, 255, 255, 0) 0%, #fff 100%), url(./img/header-w375.webp);
					.hero-desck{
						margin-bottom: 50px;
						font-size: 15px;
					}
					
					.h1,.h1-bold{font-size: 25px;}
				}
			}
		//======= main styles ======
		link(rel="stylesheet", href="./css/main.css")
			
	body(class=(bodyCl !=="" ? bodyCl : ''))
		
		block content
		a(href="#top")#backtop
			+svg-icon('chevron-up')
		//=============== jquery ==================
		script(src="./libs/jquery/jquery-3.0.0.min.js")
		script(src="./libs/jquery.lazy.min.js")
		//=============== swiper js ===============
		script(src="./libs/swiper/swiper.js")
		//-============fancybox====================
		//- script(src="./libs/fancybox/fancybox.js")
		//=============== main js ===================
		script(src="./js/main.js")